@import '../src/index.module.scss';

/* SKILLS */

.skills__wrapper {
    height: calc(90% - $size--title);
    padding: 0.5rem;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: calc((100% - $size--title) / 3) calc((100% - $size--title) / 3) calc((100% - $size--title) / 3);
    gap: 0.5rem;

    img {
        height: 100%;
        width: 100%;
    }
}

/* STUDIES */

.studies__wrapper{
    height: calc(100% - $size--title - 0.5rem); 

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;


    .studies__card {
        height: 80%;
        width: 120px;
        padding: 1rem;
        border: none;
        border-radius: calc($size--border-radius * 2);
        background-color: $clr--lime;

        font-family: $font--primary;
        font-weight: 800;
        text-transform: uppercase;

        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}

/* CONTACT */

.contact__wrapper {
    height: calc(100% - $size--title - 0.5rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    

    a {
        svg {
                min-width: 3.5rem;
                color: black;
        }
    }
}

/* EXPERIENCE */

.experience__wrapper {
    height: calc(100% - $size--title - 0.5rem);
    overflow: scroll;

    & .experience__title {
        font-size: calc($size--title * 0.7);
        font-weight: 700;
        margin: 2rem 0 0 0;
    }

    & .experience__dates {
        margin: 0.5rem 0;
        font-weight: 500;
    }

    & ul {
        margin: 0;

        & li::marker {
            color: $clr--light-blue;
        }
    }
}

/* PROJECTS */

.projects__wrapper {
    height: calc(100% - $size--title - 0.5rem);

    & .project__card {
        height: 80%;
        width: 140px;
        padding: 1rem;
        border-radius: calc($size--border-radius * 2);
        background-color: $clr--light-blue;

        font-weight: 800;
        text-transform: uppercase;

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    & svg {
        width: 3rem;
        color: black;
    }
}
