@import '../src/index.module.scss';

/* SKILLS */

.skills__wrapper {
    height: calc(90% - $size--title);
    padding: 0.5rem;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: calc((100% - $size--title) / 3) calc((100% - $size--title) / 3) calc((100% - $size--title) / 3);
    gap: 0.5rem;

    img {
        height: 100%;
        width: 100%;
    }
}

/* STUDIES */

.studies__wrapper{
    background-color: blue;

    display: flex;
    justify-content: space-evenly;
    gap: 5px;


    .studies__card {
        height: 150px;
        width: 100px;
        border-radius: $size--border-radius;
        background-color: red;
    }
}

/* CONTACT */

.contact__wrapper {
    height: calc(100% - $size--title - 0.5rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    

    svg {
        max-width: 3.5rem;
    }
}
