@import 'index.module.scss';

/* BENTO GRID LAYOUT AND MEDIA QUERIES */
.bento {
    height: 100svh;
    padding: 5svh 5svw;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: $size--gap;

    section {
        border-radius: $size--border-radius;
        padding: 0.5rem;
    }

    .bento__photo {
        grid-column: 1/4;
        grid-row: 1/3;
        text-align: center;
        padding: 0;

        .photo__image {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: $size--border-radius;
        }
    }

    .bento__description {
        background-color: $clr--green;

        grid-column: 4/11;
        grid-row: 1/3;
    }

    .bento__contact {
        background-color: $clr--bluesky;
        grid-column: 1/3;
        grid-row: 5/7;
    }

    .bento__languaje {
        background-color: $clr--red;
        grid-column: 1/3;
        grid-row: 3/5;
    }

    .bento__skills {
        background-color: $clr--light-yellow;
        grid-column: 11/14;
        grid-row: 1/3;
    }

    .bento__experience {
        background-color: $clr--blue;
        grid-column: 3/7;
        grid-row: 3/7;
    }

    .bento__studies {
        background-color: $clr--egyptian-blue;
        grid-column: 7/14;
        grid-row: 3/5;

        overflow: hidden;
    }

    .bento__projects {
        background-color: $clr--yellow;
        grid-column: 7/12;
        grid-row: 5/7;
    }

    .bento__theme {
        background-color: $clr--bg;
        grid-column: 12/14;
        grid-row: 5/7;
    }
}

@media ( 768px <= width <= 1024px) {
    .bento {
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(4, auto);

        .bento__photo {
            grid-column: 1/3;
            grid-row: 1/2;
        }
    
        .bento__description {
            grid-column: 3/8;
            grid-row: 1/2;
        }
    
        .bento__contact {
            grid-column: 7/8;
            grid-row: 2/3;
            text-align: center;
        }
    
        .bento__languaje {
            grid-column: 4/6;
            grid-row: 4/5;
        }
    
        .bento__skills {
            grid-column: 1/3;
            grid-row: 3/4;
        }
    
        .bento__experience {
            grid-column: 1/7;
            grid-row: 2/3;
        }
    
        .bento__studies {
            grid-column: 3/8;
            grid-row: 3/4;
        }
    
        .bento__projects {
            grid-column: 1/4;
            grid-row: 4/5;
        }
    
        .bento__theme {
            grid-column: 6/8;
            grid-row: 4/5;
        }
    }
}

@media  (width < 768px) {
    .bento {
      height: auto;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(6, auto);

        .bento__photo {
            grid-column: 1/3;
            grid-row: 1/2;
        }
    
        .bento__description {
            grid-column: 1/5;
            grid-row: 2/3;
        }
    
        .bento__contact {
            grid-column: 1/3;
            grid-row: 6/7;
            text-align: center;
        }
    
        .bento__languaje {
            grid-column: 3/4;
            grid-row: 6/7;
        }
    
        .bento__skills {
            grid-column: 3/5;
            grid-row: 1/2;
        }
    
        .bento__experience {
            grid-column: 1/5;
            grid-row: 3/4;
        }
    
        .bento__studies {
            grid-column: 1/5;
            grid-row: 4/5;
        }
    
        .bento__projects {
            grid-column: 1/5;
            grid-row: 5/6;
        }
    
        .bento__theme {
            grid-column: 4/5;
            grid-row: 6/7;
        }
    }
}

/* Animations */

@keyframes slideInLeft {
    from {
        transform: translateX(-20rem);
    }

    to {
        transform: translateX(0);
    }
}

.slideInLeft {
    animation: slideInLeft 1s ease-out;
}

@keyframes slideInRight {
    from {
        transform: translateX(20rem);
    }

    to {
        transform: translateX(0);
    }
}

.slideInRight {
    animation: slideInRight 1s ease-out;
}

@keyframes slideInTop {
    from {
        transform: translateY(-20rem);
    }

    to {
        transform: translateX(0);
    }
}

.slideInTop {
    animation: slideInTop 1s ease-out;
}

@keyframes slideInBottom {
    from {
        transform: translateY(20rem);
    }

    to {
        transform: translateX(0);
    }
}

.slideInBottom {
    animation: slideInBottom 1s ease-out;
}

/* Utility Classes */

.animate {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animate--slow {
    animation-duration: $animate-speed--slow;
}

.animate--mid {
    animation-duration: $animate-speed--mid;
}

.animation--fast {
    animation-duration: $animate-speed--fast;
}

.title {
    font-size: $size--title;
    font-weight: 800;
}

.subtitle {
    font-size: $size--subtitle;
    font-weight: 700;
    margin: 0;
}

.text {
    font-size: clamp(0.5rem, 100%, 1rem);
    margin: 0;
}

.text--wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.languajes {
    height: calc(100% - $size--title - 0.5rem);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.scaleOnHover {
    transition: transform 300ms;
}

.scaleOnHover:hover {
    transform: scale(1.2);
}