/* Variables */
$animate-speed--slow: 1.5s;
$animate-speed--mid: 1s;
$animate-speed--fast: 0.3s;

$clr--bg: hsl(198, 100%, 5%);
$clr--bluesky: #f9844a;
$clr--blue: hsl(195, 100%, 68%);
$clr--egyptian-blue: hsl(258, 59%, 78%);
$clr--green: #06d6a0;
$clr--light-yellow: #FDFCDC;
$clr--yellow: #f9c74f;
$clr--red: #f94144;


$size--border-radius: 1rem;
$size--gap: 10px;
$size--title: 1.5rem;

/* Global Inheritance */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
}

body {
  margin: 0;
  background-color: $clr--bg;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}