/* Variables */
$animate-speed--slow: 1.5s;
$animate-speed--mid: 1s;
$animate-speed--fast: 0.3s;

$clr--bg: #073b4c;
$clr--bluesky: #118ab2;
$clr--egyptian-blue: #9B7EDE;
$clr--green: #06d6a0;
$clr--light-yellow: #FDFCDC;
$clr--yellow: #ffd166;
$clr--red: #ef476f;


$size--border-radius: 1rem;
$size--gap: 10px;

/* Global Inheritance */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
}

body {
  margin: 0;
  background-color: $clr--bg;
}

::-webkit-scrollbar {
  display: none;
}