@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
$animate-speed--slow: 1.5s;
$animate-speed--mid: 1s;
$animate-speed--fast: 0.3s;

$clr--bg: hsl(198, 100%, 5%);
$clr--bluesky: #f9844a;
$clr--blue: hsl(195, 100%, 68%);
$clr--egyptian-blue: hsl(258, 59%, 78%);
$clr--green: #06d6a0;
$clr--light-blue: hsl(178, 99%, 50%);
$clr--light-yellow: #FDFCDC;
$clr--lime: #DDFC74;
$clr--yellow: #f9c74f;
$clr--red: #f94144;

$font--primary: "Noto Sans", sans-serif;

$size--border-radius: 1rem;
$size--gap: 10px;
$size--title: 1.6rem;
$size--subtitle: 1.3rem;

/* Global Inheritance */
:root {
  font-family: $font--primary;
  line-height: 1.5;
  font-weight: 400;

  color: black;
}

body {
  margin: 0;
  background-color: $clr--bg;
}

::-webkit-scrollbar {
  display: none;
}